.login-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;

  & > .login-form {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    background: #d9ecfe;
    margin: auto;
    background-image: url('../../assets/background/login.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem;

    & > .login-form {
      padding: 16px;

      border-radius: 0.5rem;
      background: rgba(255, 255, 255, 0.75);
      border: 1px solid #ccc;
    }
  }
}

.lottie-background {
  background: #d9ecfe;
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }
}
