.btn-wrapper {
  z-index: 99;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  // transition: visibility 0.2s, opacity 0.2s linear;
  align-items: center;
  overflow: auto;

  &.left-btn {
    left: 0;
    box-shadow: 16px 0px 32px 1px rgba(168, 168, 168, 0.55);
  }

  &.right-btn {
    right: 0;
    box-shadow: -16px 0px 32px 1px rgba(168, 168, 168, 0.55);
  }

  & .rounded-btn {
    border-radius: 100%;
  }
}

.invisible {
  width: 0px;
  height: 0px;
  visibility: hidden;
  opacity: 0;
}

.visible {
  width: fit-content;
  height: fit-content;
  visibility: visible;
  opacity: 1;
}

.space-x {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.flex {
  display: flex;
}
