.statistic-item-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.locker-detail-wrapper {
  p {
    margin-top: 0;
  }

  & .locker-detail {
    height: 100%;
  }
}

.customTooltip {
  transition: visibility 0.2s cubic-bezier(0.23, 1, 0.32, 1) 0s, left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s,
    top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  background-color: rgba(256, 2560, 256, 0.9);
  box-shadow: rgb(174, 174, 174) 0px 0px 10px;
  border-radius: 3px;
  color: rgb(87, 87, 87);
  font-size: 12px;
  line-height: 20px;
  padding: 10px 10px 6px;
  &-titile {
    margin-bottom: 4px;
  }
  &-content {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    > li {
      margin-bottom: 4px;
    }
  }
}

.pie-wrapper {
  .ant-list-item {
    display: unset;
    border-block-end: unset;
    padding: 8px 12px !important;
    > * {
      margin: 0 4px;
    }
  }
}

.ant-card-head {
  text-align: center;
  text-transform: uppercase;
}

.locker-status-statistic {
  .ant-card-body {
    padding: 12px 24px !important;

    @media screen and (min-width: 768px) {
      .ant-statistic {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .ant-statistic-title {
    color: gray;
  }

  .ant-statistic-content-value-int {
    color: gray;
  }
}

.box-status-card {
  height: 100%;
}
