.o-icon {
  color: '#1890FF';
}

.customTooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  color: #333;
  font-size: 14px;
  padding: 10px;
  width: 120px;
}

.customTooltip-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.customTooltip-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.customTooltip-content li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.customTooltip-label {
  margin-left: 5px;
}

.pie-wrapper {
  .ant-list-item {
    display: unset;
    border-block-end: unset;
    padding: 8px 12px !important;
    > * {
      margin: 0 4px;
    }
  }
}

.markerLocker {
  width: 2rem;
  height: 2rem;
  display: block;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 1rem 1rem 0;
  border: 1px solid #ffffff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  .markerLockerIcon {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
