@import './main.less';

@import './antd.reset.less';

@import './theme.less';

@primary-color: #4096ff;

* {
  ::-webkit-scrollbar {
    width: 7px !important;
    height: 8px !important;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #d9d9d9;
  }

  .ant-menu-item-selected {
    color: @primary-color !important;
  }
}

.filter-group {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;

  @media screen and (max-width: 1440px) {
    flex-direction: column;

    & .select-group-wrapper {
      position: relative;
      max-width: 100%;
      overflow: hidden;

      & .select-group {
        max-width: 100%;
        overflow-x: auto;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

.ant-image {
  height: 100%;
  display: flex;
  border: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;

  & .ant-image-img {
    object-fit: contain;
  }
}

.ant-typography {
  margin: 0 !important;
}

.reset-btn {
  position: relative;
  top: 2px;
}

.ant-descriptions-row {
  & > td:first-child {
    padding: 16px 24px;
    height: 60px;

    & > span {
      display: block;
      min-height: 1rem !important;
    }
  }

  & > th {
    font-weight: 600 !important;
  }
}

.ant-picker-panels {
  flex-wrap: wrap !important;
}
