.custom-row {
  background: linear-gradient(90deg, rgba(19,28,255,1) 0%, rgba(217,40,82,1) 100%);
  padding-bottom: 2px;
  margin-top: 16px;
  margin-bottom: 64px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-16 {
  margin-bottom: 16px;
}

.on-stage {
  border: 2px dashed #13c2c2;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
}

.be-gray {
  color: '#A7A7A7';
}


