.box-container {
  margin: 1rem 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.box-item {
  // flex: 1;
  padding: 50px;
  border: 1px solid rgba(5, 5, 5, 0.1);
  position: relative;
  cursor: pointer;
  display: flex;
}
.box-detail ul > li {
  margin-bottom: 5px;
}

.box-status {
  margin-bottom: 5px;
}
